<h1>Add definitions for <%= @word.term() %> </h1>

<form action="/definitions" method="post">
  <input id='word_id' name='word_id' type='hidden' value='<%= @word.id() %>'>

  <ul>
    <label for='description'>Definition:</label>
    <input id='description' name='description' type='text'>
  <\ul>
   <br />
   <br />
  <ul>
    <label for='usage'> Usage example:</label>
    <input id='usage' name='usage' type='text'>
  <\ul>

  <ul>
  <button type="submit">Submit </button>
</ul>
</form>
